<%= form_with model: @account do |f| %>
  <div class="edit-account-field">
    <label for="account_full_name">Имя:</label>
    <%= f.text_field :full_name, required: true, id: "account_full_name" %>
  </div>

  <div class="edit-account-field">
    <label for="account_login">Логин:</label>
    <%= f.text_field :login, required: true,  id: "account_login" %>
  </div>

  <div class="edit-account-field">
    <label for="account_password">Пароль:</label>
    <%= f.password_field :password, required: true, id: "account_password" %>
  </div>

  <div class="edit-account-field">
    <label for="account_role">Роль:</label>
<!--    <%#= f.text_field :role, required: true, id: "account_role" %> Ввод вручную-->
<!--    <%#= f.collection_select :role_ids, Role.all, :id, :role_name, {}, { multiple: true, prompt: 'Выберите роль' } %> Выбор из списка с зажатым CTRL-->
    <div class="role-checkbox-list">
      <% Role.all.each do |role| %>
        <div class="role-checkbox">
          <%= f.check_box :role_ids, { multiple: true }, role.id, nil %>
          <%= label_tag "account_role_#{role.id}", role.role_name %>
        </div>
      <% end %>
    </div>
<!--    <%#= f.collection_check_boxes :role_ids, Role.all, :id, :role_name %> Горизонтальный список из чекбоксов -->
  </div>

  <div class="edit-account-field">
    <label for="account_department">Отдел:</label>
    <%= f.text_field :department, required: true,  id: "account_department" %>
  </div>

  <div class="actions">
    <%= f.submit 'Создать аккаунт' %>
  </div>
<% end %>