<h1>Информация об аккаунте</h1>

<div class="account-info">
  <p class="account-info-raw">Имя: <%= @account.full_name %></p>
  <p class="account-info-raw">Логин: <%= @account.login %></p>
  <p class="account-info-raw">Пароль: <%= @account.password %></p>
  <p class="account-info-raw">Роль: <%= @account.role %></p>
  <p class="account-info-raw">Отдел: <%= @account.department %></p>
</div>

